@import url('https://fonts.googleapis.com/css?family=Handlee|Karma|Nanum+Gothic+Coding:700&display=swap');
*{
  font-family: 'Karma', serif;
  background-color: #fffff2;

}

header > h1{
  font-size: 50px;
  color: #8a278b;
}

a.homepage{
  color: #8a278b;
  padding: 0.05px;
  text-decoration: none;
}

body {
	max-width: 600px;
	margin: auto;
	padding: 2.5em;
	line-height: 1.5;
  text-align: center;
}

img{
  height: 300px;
  border-radius: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a.fancy{
  color: #36648b;
  padding: 5px;
  text-decoration: none;
  border-bottom: 1px dotted;
  border-width: thin;
  border-color: #ff9999;
  text-align: center;
}

a.fancy:hover{
  background-color: #ffc0cb;
}

a.just_underline{
  color: #8a278b;
  padding: 0.05px;
  text-decoration: none;

}

a.project{
  color: #36648b;
  padding: 0.05px;
  text-decoration: none;
  border-bottom: 1px dotted;
  border-width: thin;
  border-color: #ff9999;
}


p{
  color: #36648b;
  text-align: left;
}

#special-color, h2, h3{
  color: #8a278b;
}

#just-color{
  color: #3B0808;
}


ul>li{
  color: #36648b;
  text-align: left;
}

footer{
  font-weight: 10;
  color: #36648b;
}
