{% extends 'base.html' %}
{% block head %}
Joy Harjanto
{% endblock %}
{% block body %}
<!-- <img src="{{url_for('static', filename='sand.jpg')}}" class ="center"/> -->

<p>Hello! I am a writer and technologist based in New York City. I enjoy all things tech, journalism, data & personality test related. </p>

<p> In a past life, I studied statistics, did machine learning research and wrote for the student paper at UCLA. I was also a data science intern for the ACLU and a fellow for Impact Labs.
</p>

<p>In my free time I really enjoy making spreadsheets, writing about my musings, and contemplating about life things.  </p>

<p>
   Made from scratch with &#x2764; using <a href ="https://github.com/joygraciacia/joygraciacia.github.io" class="just_underline">html, css, js & flask </a> 

</p>

<!-- <p>
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm" class ="pb-5">
                github
                medium 
                twitter
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
            </div>
     
        </div>
      </div>

</p> -->
{% endblock %}
